@import '~include-media/dist/_include-media.scss';

@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Raleway');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

$base-font-size: 16px;
$body-background-color: #fafafa;
$menu-background-color: #e0e0e0;
$heading-text-color: #202020;
$paragraph-text-color: #303030;
$heading-font: 'Raleway', sans-serif;
$paragraph-font: 'Merriweather', serif;

@function rem($font-size, $base: $base-font-size) {
  $ratio: $font-size / $base;
  @return $ratio * 1rem;
}

$breakpoints: (
  'phone': rem(320px),
  'tablet': rem(768px),
  'desktop': rem(1024px)
) !default;

html {
  font-size: $base-font-size;
}

body {
  background-color: $body-background-color;
}

h1 {
  margin-bottom: rem(20px);
  font-size: rem(36px);
  font-family: $heading-font;
  text-align: center;
  color: $heading-text-color;
}

p {
  margin-bottom: rem(12px);
  line-height: rem(36px);
  font-size: rem(18px);
  font-family: $paragraph-font;
  color: $paragraph-text-color;
}

a {
  font-size: rem(14px);
}

nav {
  position: fixed;
  background-color: $menu-background-color;
}

main {
  display: flex;
  justify-content: center;
  padding-top: rem(32px);
  padding-right: rem(20px);
  padding-left: rem(20px);
}

section {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;

  @include media('>tablet') {
    max-width: rem(920px);
  }
}
