@import '~include-media/dist/_include-media.scss';

@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Raleway');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

$base-font-size: 16px;
$body-background-color: #fafafa;
$menu-background-color: #fff;
$heading-text-color: #202020;
$paragraph-text-color: #303030;
$heading-font: 'Raleway', sans-serif;
$paragraph-font: 'Merriweather', serif;

@function rem($font-size, $base: $base-font-size) {
  $ratio: $font-size / $base;
  @return $ratio * 1rem;
}

$breakpoints: (
  'phone': rem(320px),
  'tablet': rem(768px),
  'desktop': rem(1024px)
) !default;

html {
  font-size: $base-font-size;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: $body-background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-bottom: rem(20px);
  font-size: rem(36px);
  font-family: $heading-font;
  text-align: center;
  color: $heading-text-color;
}

p, li {
  margin-bottom: rem(20px);
  line-height: rem(36px);
  font-size: rem(18px);
  font-family: $paragraph-font;
  color: $paragraph-text-color;
}

li {
  list-style-type: disc;
}

a {
  font-size: rem(18px);
}

strong {
  font-weight: 600;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $menu-background-color;
  box-shadow: 2.5px 0 5px 0 rgba(0, 0, 0, .25);
  overflow: scroll;
  transform: translateX(calc(-100% - 5px));
  transition: transform 400ms ease;

  &.in {
    transform: translateX(0);
  }

  li {
    margin-bottom: 0;
    line-height: rem(22px);
    border-bottom: 1px solid lighten($paragraph-text-color, 67%);

    &:last-child {
      border-bottom: 0;
    }

    a {
      display: block;
      padding-top: rem(14px);
      padding-right: rem(20px);
      padding-bottom: rem(14px);
      padding-left: rem(24px);
      color: lighten($paragraph-text-color, 20%);
      font-size: rem(16px);
      text-decoration: none;
    }
  }
}

main {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: rem(40px);
  padding-right: rem(20px);
  padding-bottom: rem(32px);
  padding-left: rem(20px);
  overflow: scroll;
}

section {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  @include media('>tablet') {
    max-width: rem(920px);
  }
}

.menu-toggle {
  position: fixed;
  top: rem(12px);
  left: rem(16px);
  padding: rem(6px);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.close-menu {
  position: absolute;
  top: rem(8px);
  right: rem(8px);
  padding-top: 0;
  padding-right: rem(6px);
  padding-bottom: rem(6px);
  padding-left: rem(6px);
  font-size: rem(28px);
  line-height: .8;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.hamburger-stick {
  display: block;
  width: rem(28px);
  height: rem(4px);
  margin-bottom: rem(4px);
  background-color: lighten($paragraph-text-color, 25%);

  &:last-child {
    margin-bottom: 0;
  }
}

.next-prev {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  margin-top: rem(16px);
  margin-bottom: rem(16px);

  @include media('>tablet') {
    max-width: rem(920px);
  }
}

.route-navigator {
  padding: rem(8px) rem(12px);
  font-size: rem(14px);
  border: 1px solid $paragraph-text-color;
  font-family: Arial, sans-serif;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    border: 1px solid rgba($paragraph-text-color, 0.3);
  }
}

.forward {

  .fade-enter {
    opacity: 0; // start of entrance
    transform: translateX(17%);
  
    &.fade-enter-active { // end of entrance
      opacity: 1;
      transform: translateX(0);
      transition: all 600ms 300ms ease;
    }
  }

  .fade-exit {
    opacity: 1; // start of exit
    transform: translateX(0);
  
    &.fade-exit-active {
      opacity: 0;
      transform: translateX(-17%);
      transition: all 600ms ease;
    }
  }
}

.backward {

  .fade-enter {
    opacity: 0; // start of entrance
    transform: translateX(-17%);
  
    &.fade-enter-active { // end of entrance
      opacity: 1;
      transform: translateX(0);
      transition: all 600ms 300ms ease;
    }
  }

  .fade-exit {
    opacity: 1; // start of exit
    transform: translateX(0);
  
    &.fade-exit-active {
      opacity: 0;
      transform: translateX(17%);
      transition: all 600ms ease;
    }
  }
}

.banner {
  width: calc(100% + 40px);
  padding-top: rem(40px);
  padding-bottom: rem(40px);
  margin-right: 0;
  margin-top: rem(20px);
  margin-bottom: rem(40px);
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .2), rgba(95, 95, 95, .2));
  background-blend-mode: overlay;
  text-align: center;

  i {

    &:not(:first-child) {
      margin-left: rem(48px);
    }
  }

  .headshot {
    width: rem(200px);
    height: rem(200px);
    border-radius: 50%;
  }
}

.spacer {
  height: 1px;
  width: 100%;
  margin-bottom: rem(16px);
}

i {
  color: #fff;
}

.banner-image {
  width: 100%;
  margin-top: rem(12px);
  margin-bottom: rem(32px);
}
